<template>
    
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" v-model="myMessage" class="form-control">
                    </div>    
                    <button type="submit" @click.prevent="send" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        mounted() {            
        },
        data() {
            return {
                myMessage: ''
            }
        },
        methods: {            
            send() {
                var self = this;
                axios.post('/send-message', {
                    params: {
                        message: self.myMessage
                    }
                });
                this.$emit('message-sent', {
                    message: this.myMessage,
                    user: document.getElementById('current-user').innerHTML
                });
                this.myMessage = '';
            }
        }
    }
</script>
