<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <message v-for="message in messages" v-bind:key="message.message"
                    v-bind:message="message">
                    {{ message }}
                </message>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['messages']
    }
</script>
