<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">From: {{ message.user.name }}</div>

            <div class="panel-body">
                Message: {{ message.message }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['message']
    }
</script>
